@import "global.css";


/* about section */

#about {
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    padding-inline: 0;
}

#about .about-text {
    width: 40%;
    height: auto;
    margin-block: 3.75rem;
    background: var(--light-color);
    border-inline: 8px solid var(--gray-color);
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    filter: drop-shadow(6px 11px 6px #918d8d);
}

#about .about-text h2 {
    text-align: center;
    text-decoration: underline;
}

#about .about-text p {
    padding-top: 20px;
    text-align: center;
    padding-inline: .625rem;
}

/* Portfolio Section */

#portfolio {
    height: 500px;
}




/* contact footer section */

#contact {
    background: var(--gray-color);
}

#contact #footer-name-section {
    color: var(--light-color);
}

#contact .row {
    padding-bottom: 10px;
}

#contact #footer-content-section h4 {
    padding-top: 20px;
    color: var(--light-color);
    text-decoration: underline;
}

#contact .linkStyle a {
    display: block;
    padding-block: 5px;
    text-decoration: none;
    color: var(--light-color);
    opacity: 0.5;
    position: relative;
    transition: transform .2s ease, opacity .2s ease;
}

#contact .linkStyle a:hover {
    opacity: 1;
    transform: translateX(10px);
}

.placeCenter {
    display: grid;
    place-content: center;
}

/* 
.darkModeClass {

    --dark-color: #fff;
    --social-links-outline-color: #FB8726;
    --social-links-background: #FB8726;
    --social-links-shadow-color: #FB8726;
    --information-developer-color: #FB8726;

} */



